.nav-bar {
    display: flex;
    text-align: center;
}

ul {
    display: flex;
    /* font: black; */    
}

h1{
    margin-left: 2%;
    font-family: Arial, sans-serif;
}
span{
    color: red;
    /* margin-left: 20%; */
}
a{
    color: black;
    /* display: inline-block; */
    text-decoration: none;
}

a:hover{
    font-weight: bold;
}

li{
    display: inline;
    /* color: black; */
    padding-left: 30px;
    /* cursor: pointer; */
    /* border-style: dashed; */
}
.row, .row-2 {
    box-sizing: border-box;
  }
.column-1, .colum-3-1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-2 p {
    margin-right: 90px;
}

.row-2 {
    box-sizing: border-box;
    margin-left: 8%;
  }

.column-2-1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
    margin: 3px
}
.box{
    border-style: solid;
    border-radius: 40px;
    text-align: center;
}

h3{
    text-decoration-line: underline;
    font-weight: bold;
}

.box:hover{
    background-color: #A9A9A9;
}

.row-2:after {
    content: "";
    display: table;
    clear: both;
}

.logo_image {
    margin-left: 35%;
    height: 300px;
    width: 300px;
}

header img {
    height: 100%;
    width: 100%;  
}

.nav_links{
    margin-left: 8%;
}
.Resume_btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 5px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.about_me {
    text-align: center;
}

.footer-main-content{
    text-align: center;
    background-color: #111;
    margin-top: 20%;
    color: #fff;
}
.footer-top{
    padding-top: 0px;
}

.footer-social {
    text-align: center;
}